.paginate {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 0.5rem;
  font-weight: 500;
  transition: transform 0.1s ease;
  border-radius: var(--border-radius-1);
}
.btn:hover {
  filter: brightness(90%);
}
.prev_btn,
.next_btn {
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 0.5rem;
  font-weight: 500;
  transition: transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-1);
}
.prev_btn:hover,
.next_btn:hover {
  filter: brightness(90%);
}
.icon {
  /* display: none; */
  font-size: 1.4rem;
  margin-top: 0.15rem;
  margin-left: 0.25rem;
}
.text {
  display: none;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.disable_icon {
  color: #fff;
}
.disable {
  pointer-events: none;
  background: #999;
  color: #fff !important;
}
.active_btn {
  background: var(--secondary);
  color: #000;
  font-weight: 500;
  pointer-events: none;
}
