.paginate {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 0.5rem;
  border-radius: var(--border-radius-1);
  /* transition: var(--transition); */
}

.btn:hover {
  filter: brightness(90%);
  transition: var(--transition);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}

.disable_icon {
  color: #fff;
}

.active {
  background: var(--blue);
  color: #fff;
}

.disable {
  pointer-events: none;
  background: #999;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .paginate {
    justify-content: center;
  }
}
