.small_header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 4rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: var(--blue) !important;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .small_header {
    display: flex;
  }
}
