.search_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  align-items: flex-start;
  justify-content: center;

  border-radius: var(--border-radius-1);
  cursor: default;
}

.search_container {
  width: 750px;
  height: 90%;
  padding: 2rem;
  margin: 2rem;
  border-radius: var(--border-radius-1);
  overflow: scroll;
}

.search_options {
  width: fit-content;
  position: relative;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  border-radius: 50px;
}

.search_option {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 0.75rem;
}

.search_option:hover {
  filter: brightness(90%);
}

.cover {
  position: absolute;
  top: 0.125rem;
  width: 50px;
  padding: 0.375rem 0;
  background: #fff;
  color: transparent;
  transform: translateX(-53px);
  transition: all 0.1s ease;
  font-size: 0.75rem;
  border-radius: 50px;
}

.search_input_div {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border-radius: var(--border-radius-1);
}

.search_input::placeholder {
  color: #999;
}

.search_input:focus {
  outline: none;
}

.search_input:focus::placeholder {
  color: transparent;
}

.search_icon {
  position: absolute;
  font-size: 1.25rem;
  color: #999;

  top: 0.65rem;
  left: 1rem;
}

.close_icon {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  background: red;
  color: #fff;
  display: none;
}

.close_icon:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 640px) {
  .search_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
  }

  .close_icon {
    display: flex;
  }
}
