.search_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s ease;

  border-radius: var(--border-radius-1);
}

.search_container {
  width: 750px;
  height: 90%;
  padding: 2rem;
  padding-right: 1.5rem;
  margin: 2rem;
  border-radius: var(--border-radius-1);
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search_options {
  width: fit-content;
  position: relative;
  margin-top: 1rem;
  background: var(--secondary);
  color: #000;
  border-radius: 50px;
}

.search_option {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
}

.search_option:hover {
  filter: brightness(90%);
}

.cover {
  position: absolute;
  top: 0.25rem;
  width: 48px;
  padding: 0.25rem 0;
  background: var(--primary);
  color: transparent;
  transform: translateX(-52.5px);
  transition: all 0.2s ease-in-out;
  font-size: 0.75rem;
  border-radius: 50px;
  cursor: pointer;
}

.search_input_div {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border-radius: var(--border-radius-1);
  color: #999;
}

.search_input::placeholder {
  color: #999;
}

.search_input:focus {
  outline: none;
}

.search_input:focus::placeholder {
  color: transparent;
}

.search_icon {
  position: absolute;
  font-size: 1.25rem;
  color: #999;

  top: 0.65rem;
  left: 1rem;
}

.close_icon {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  background: red;
  color: #fff;
  display: none;
}

.close_icon:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 640px) {
  .search_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-right: 0.5rem;
  }

  .close_icon {
    display: flex;
  }
}

/* ----- Search Results (START) ----- */
.search_results {
  margin-top: 1rem;
}
/* ----- Search Results (END) ----- */

/* ----- Result (START) ----- */
.result {
  display: block;
  height: min-content;
  display: flex;
  padding: 0.5rem;
  border-radius: var(--border-radius-1);
}

.result:hover {
  filter: brightness(90%);
}

.img {
  width: 50px;
  height: 80px;
  margin-right: 1rem;
  border-radius: var(--border-radius-1);
}

.title_date_div {
  display: flex;
  flex-direction: column;
}

.title {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.date {
  font-size: 0.8rem;
  color: #999;
}
/* ----- Result (END) ----- */
