.category {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.category:hover {
  filter: brightness(90%);
}

.category_icon {
  margin-right: 1rem;
}
