.search_modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: none;
  align-items: flex-start;
  justify-content: center;
}

.search_container {
  width: 750px;
  height: 90%;
  padding: 2rem;
  margin: 2rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.search_input_div {
  position: relative;
  /* width: 750px;
  margin: 1rem; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  /* margin-right: 1rem; */
}

.search_input::placeholder {
  color: #999;
}

.search_input:focus {
  outline: none;
}

.search_input:focus::placeholder {
  color: transparent;
}

.search_icon {
  position: absolute;
  font-size: 1.25rem;
  color: #999;

  top: 0.65rem;
  left: 1rem;
}

.close_icon {
  font-size: 2rem;
  cursor: pointer;
  color: red;
  display: none;
}
