.modal {
  position: absolute;
  right: 0;
  min-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transform: scale(0);
  transition: transform 0.1s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.login,
.register {
  padding: 0.5rem 0;
  background: var(--blue);
  color: #fff;
  margin-right: 1rem;
  width: 50%;
  text-align: center;
}
.login,
.register:hover {
  filter: brightness(90%);
}
.account,
.wishlist {
  margin-bottom: 0.5rem;
  width: min-content;
}
.logout {
  display: inline-block;
  cursor: pointer;
  width: min-content;
}
.account:hover,
.wishlis:hover,
.logout:hover {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .modal {
    bottom: 3.5rem;
  }
}
