.mode {
  margin-left: 2rem;
}

.sun,
.moon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  /* transition: var(--transition); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sun_icon,
.moon_icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
}
