.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px 0;
  margin-left: 2rem;
}
.profile_icon {
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.profile_text {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin-left: 0;
    padding: 12px 0;
  }
  .profile_icon {
    margin-right: 0;
  }
}
