.card {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease;
  box-shadow: 0 0.5px 0 #999;
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
}
.card_link {
  display: block;
  height: 100%;
}
.image_container {
  position: relative;
  height: 250px;
  border-radius: var(--border-radius-1);
}
.image {
  transition: transform 0.3s ease;
  border-top-right-radius: var(--border-radius-1);
  border-top-left-radius: var(--border-radius-1);
}
.card:hover .image {
  transform: scale(1.25);
}
@media screen and (max-width: 450px) {
  .image_container {
    height: 225px;
  }
}
.vote {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 0.2rem;
  bottom: -25px;
  left: 1rem;
}
.vote_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  font-weight: 500;
}
.title_date_div {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}
.title {
  display: inline-block;
  font-weight: 500;
}
.date {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}
.add_btn_container {
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--transition);
}
.add_btn,
.delete_btn {
  position: relative;
  background: var(--blue);
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  height: 40px;
  width: 40px;
  margin: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.add_btn_icon,
.delete_btn_icon {
  font-size: 1.15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
.add_btn:hover .add_btn_icon,
.delete_btn:hover .delete_btn_icon {
  font-size: 1.5rem;
}
