.card {
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  box-shadow: 0 0.5px 0 #999;
}

.card:hover {
  box-shadow: 0 2px 0 var(--blue);
}

.card_link {
  display: block;
  height: 100%;
}

.image_container {
  position: relative;
  height: 250px;
}

@media screen and (max-width: 450px) {
  .image_container {
    height: 225px;
  }
}

.image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 0.5);
}

.vote {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0.2rem;
  bottom: -25px;
  left: 1rem;
}

.vote_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  font-weight: 500;
}

.title_date_div {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}

.title {
  display: inline-block;
  font-weight: 500;
}

.date {
  display: inline-block;
  margin-top: 0.5rem;
  color: #999;
  font-size: 0.85rem;
}

.add_btn_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: var(--transition);
}

.add_btn {
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.75rem 0;
  margin: 0.5rem;
  transition: var(--transition);
}

.add_btn:hover {
  letter-spacing: 1px;
}

.add_btn_icon {
  font-size: 1rem;
  margin-right: 0.25rem;
}
