@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius-1: 0px;

  --white-1: rgb(255, 255, 255);
  --white-2: rgb(240, 240, 240);

  --black-1: #333a45;
  /* --black-1: #393e46; */
  --black-2: #23272f;

  --blue: #4285f4;
  --blue: #149eca;
  --blue: #1da1f2;
  /* --blue: #61dafb; */
  /* --blue: cornflowerblue; */
  --red: tomato;
  --green: #0f9d58;
  --orange: darkorange;
  --gold: goldenrod;

  --shadow-1: 0 2px 4px rgba(0, 0, 0, 0.2);

  --lightBorder1: 4px solid var(--white-1);
  --darkBorder1: 4px solid var(--black-1);
  --lightBorder2: 4px solid var(--white-2);
  --darkBorder2: 4px solid var(--black-2);

  --transition: all 0.1s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.borderRadiusOne {
  border-radius: var(--border-radius-1);
}

body {
  display: flex;
  flex-direction: column;
  background: var(--white-1);
  user-select: none;
}

.layout {
  min-height: 100vh;
  /* transition: var(--transition); */
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gradient {
  background: linear-gradient(to right, #01b4e4, #90cea1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  max-width: 1280px;
  min-height: calc(100vh - 88px);
  margin: 10rem auto 5rem auto;
}

.categories {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  align-items: stretch;
  gap: 2rem 2rem;
}

@media screen and (max-width: 1286px) {
  .header {
    padding: 0 2rem;
  }
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 8rem;
  }
  .main {
    padding-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 0 1rem;
  }
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 450px) {
  .inner {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }
}

/* ------------------------- */

.blueBg {
  background: var(--blue);
  color: #fff;
}

.redBg {
  background: var(--red);
  color: #fff;
}

.greenBg {
  background: var(--green);
  color: #fff;
}

.orangeBg {
  background: var(--orange);
  color: #fff;
}

.goldBg {
  background: var(--gold);
  color: #fff;
}

.lightAlpha1 {
  background: rgba(255, 255, 255, 0.95);
}

.darkAlpha1 {
  background: rgba(51, 58, 69, 0.95);
  /* background: rgba(57, 62, 70, 0.95); */
}

.lightAlpha2 {
  background: rgba(235, 236, 240, 0.95);
}

.darkAlpha2 {
  background: rgba(35, 39, 47, 0.95);
}

.blueColor {
  color: var(--blue);
}

.redColor {
  color: var(--red);
}

.greenColor {
  color: var(--green);
}

.orangeColor {
  color: var(--orange);
}

.goldColor {
  color: var(--gold);
}

.lightBorder {
  border: var(--lightBorder1);
}

.darkBorder {
  border: var(--darkBorder1);
}

.lightShadow1 {
  box-shadow: var(--lightShadow-1);
}

.darkShadow1 {
  box-shadow: var(--darkShadow-1);
}

.lightShadow2 {
  box-shadow: var(--lightShadow-2);
}

.darkShadow2 {
  box-shadow: var(--darkShadow-2);
}

.whiteColor1 {
  color: var(--white-1);
}

.whiteBg1 {
  background: var(--white-1);
}

.whiteBg2 {
  background: var(--white-2);
}

.blackColor1 {
  color: var(--black-1);
}

.blackBg1 {
  background: var(--black-1);
}

.blackBg2 {
  background: var(--black-2);
}

.scroll {
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  /* height: 8px; */
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #999;
}

.nav {
  transform: translateX(-100%);
  transition: transform 0.1s ease-in-out;
}
