.mode_div {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}
.sun_icon,
.moon_icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sun_icon {
  color: var(--secondary);
}
@media screen and (max-width: 786px) {
  .mode {
    margin-right: 1rem;
  }
}
